<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 작업중,,, -->
    <!-- <div>
      <h1>인증번호</h1>
      <p>회원가입을 위한 인증번호 입니다.</p>
      <p>아래 인증번호를 입력하여 인증하여주세요.</p>
      <h1><%= authCode %></h1>
    </div> -->
  </body>
</html>
