<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Small Window</title>
  </head>
  <body>
    <button onclick="openSmallWindow()">작은 창 열기</button>

    <script>
      function openSmallWindow() {
        // 새 창의 속성 설정
        var windowFeatures = "width=500,height=600,left=100,top=100";

        // 새 창 열기
        var newWindow = window.open(
          "/chat/1",
          "myNewWindowName",
          windowFeatures
        );
      }
    </script>
  </body>
</html>
