<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- fontAwesome -->
    <script
      src="https://kit.fontawesome.com/5286d2d6db.js"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
  </head>
  <body>
    <div class="login_container">
      <!-- 로그인 폼 시작 -->
      <div class="login_content">
        <form id="login_form" name="login_register">
          <img class="login_logo" src="/coplearn_logo.png" alt="로고" />

          <h2 class="title">SIGNIN</h2>

          <!-- 이메일 -->
          <div class="login_input_div login_email">
            <div class="i"><i class="fa-solid fa-envelope"></i></div>
            <div class="login_div">
              <h5>EMAIL</h5>
              <input type="email" class="input" id="email" />
            </div>
          </div>

          <!-- 비밀번호 -->
          <div class="login_input_div login_pw">
            <div class="i"><i class="fa-solid fa-lock"></i></div>
            <div class="login_div">
              <h5>PASSWORD</h5>
              <input type="password" class="input" id="pw" />
            </div>
          </div>

          <!-- 로그인 버튼 -->
          <button type="submit" class="login_btn">로그인</button>
          <br />
          <!-- <div><a href="./signup">회원가입</a></div> -->
          <button type="submit" class="sign_btn">회원가입</button>
        </form>
      </div>
    </div>

    <!-- input 태그 media JS -->
    <script>
      const inputs = document.querySelectorAll(".input");

      function add_cl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }

      function rem_cl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
          parent.classList.remove("focus");
        }
      }

      inputs.forEach((input) => {
        input.addEventListener("focus", add_cl);
        input.addEventListener("blur", rem_cl);
      });
    </script>
  </body>
</html>
