<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/main_footer.css" />

    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/main_footer.css"/>
    
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
  
    <script
      src="https://kit.fontawesome.com/5286d2d6db.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   
  </head>
  <body id="main_body_dj">
    <div id="Wrap_ch">
      <!-- header -->
      <%- include('header_login') %>

      <!-- <div id="nav_bottom_dj" style="background-color: #FFD95A; height: 20px;"></div> -->

      <section class="sech">
        <div>
          <form class="search_dj">
            <h4 id="search_title_dj">
              코프런에서 원하는 프로젝트를 찾아보세요!
            </h4>

            <div id="sech_box_dj">
              <div id="sech_inbox_dj">
                <input
                  type="text"
                  id="search_keyword_dj"
                  placeholder="보고 싶은 프로젝트를 검색하세요."
                />
                <!-- input 창은 inline 속성(자기 크기만큼만 공간을 차지)이기 때문에 
                마진오토로 가운데 정렬을 하지 못한다 block으로 바꾸어주면 적용할 수 있다. -->
                <button type="button" id="sech_btn_dj" onclick="sech_dj()">
                  <i
                    class="fa-solid fa-magnifying-glass"
                    style="font-size: x-large"
                  ></i>
                </button>
              </div>
            </div>

            <div id="sech_tag_dj">
              <ul
                id="tag_ul_dj"
                aria-live="polite"
                style="transform: translate3d(0px, 0px, 0px)"
              >
                <li role="group" aria-label="1 / 14" style="margin-right: 24px">
                  <section style="">
                    <a href="/api/search/js" data-category="js">
                      <img src="https://cdn-icons-png.flaticon.com/128/5486/5486418.png" >
                      <div>
                        <p># JS</p>
                      </div>
                    </a>
                  </section>
                </li>
                <li role="group" aria-label="2 / 14" style="margin-right: 24px">
                  <section style="">
                    <a href="/api/search/React" data-category="React">
                      <img src="https://cdn-icons-png.flaticon.com/512/1183/1183621.png">
                      <div>
                        <p># 리액트</p>
                      </div>
                    </a>
                  </section>
                </li>
                <li role="group" aria-label="3 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Java" data-category="Java">
                      <img src="https://cdn-icons-png.flaticon.com/512/1892/1892569.png">
                      <div>
                        <p># Java</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="5 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Typescript" data-category="Typescript">
                      <img src="https://www.alura.com.br/assets/api/cursos/512/typescript-tecnicas-boas-praticas.png">
                      <div>
                        <p># Typescript</p>
                      </div>
                    </a>
                  </section>
                </li>
                <li role="group" aria-label="9 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Socket" data-category="Socket">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJjcjmYvx5IOdt7vZZPPSRG7JgCHwyPHkEw-PnxW1mpdAIV0GS34-2BYBwwmpdja5odTg&usqp=CAU">
                      <div>
                        <p># Socket</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="11 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/nginex" data-category="nginex">
                      <img src="https://cdn-icons-png.flaticon.com/256/1721/1721923.png">
                      <div>
                        <p># nginx</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="4 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/jQuery" data-category="jQuery">
                      <img src="https://blog.kakaocdn.net/dn/GHEla/btqvzuE3wEa/fp3YsDUk6UutFSTo8p9Sxk/img.png">
                      <div>
                        <p># jQuery</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="6 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Nodejs" data-category="Nodejs">
                      <img src="https://t1.daumcdn.net/cfile/tistory/99FA983C5CF654AA1B">
                      <div>
                        <p># Node.js</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="7 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Spring" data-category="Spring">
                      <img src="https://t1.daumcdn.net/cfile/tistory/99A172395F2A189120">
                      <div>
                        <p># 스프링</p>
                      </div>
                    </a>
                  </section>
                </li>
                <li role="group" aria-label="8 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/SpringBoot" data-category="SpringBoot">
                      <img src="https://perfectacle.github.io/2017/08/02/Spring-boot-study-001day/thumb.png">
                      <div>
                        <p># 스프링부트</p>
                      </div>
                    </a>
                  </section>
                </li>
                <li
                  role="group"
                  aria-label="12 / 14"
                  style="margin-right: 24px"
                >
                  <section style="">
                    <a href="/api/search/Docker" data-category="Docker">
                      <img src="https://cdn-icons-png.flaticon.com/512/919/919853.png">
                      <div>
                        <p># Docker</p>
                      </div>
                    </a>
                  </section>
                </li>
                <li
                  role="group"
                  aria-label="13 / 14"
                  style="margin-right: 24px"
                >
                  <section style="">
                    <a href="/api/search/Mysql" data-category="Mysql">
                      <img src="https://cdn.icon-icons.com/icons2/1508/PNG/512/mysqlworkbench_103806.png">
                      <div>
                        <p># Mysql</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="10 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Apache" data-category="Apache">
                      <img src="https://www.outsystems.com/Forge_CW/_image.aspx/Q8LvY--6WakOw9afDCuuGYR9rX1Etf0T_thEdtq21Ls=/apache-solr-connector-2023-01-04%2000-00-00-2023-02-21%2007-03-34">
                      <div>
                        <p># 아파치</p>
                      </div>
                    </a>
                  </section>
                </li>

                <li role="group" aria-label="14 / 14" style="margin-right: 24px;">
                  
                  <section style="">
                    <a href="/api/search/Oracle" data-category="Oracle">
                      <img src="https://play-lh.googleusercontent.com/bv1qRaUSfS91kwMIAikkhG0uRdYeWWEmvuFLFyvcUfX_0zPg0NIMDyAIRVm2A5UICQ=w240-h480-rw">
                      <div>
                        <p># Oracle</p>
                      </div>
                    </a>
                  </section>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </section>

      <br />
      <br />

      <section class="list_bignemo_dj">
        <section class="proindex_dj">
          <div id="pro_header_dj">
            <div id="header_inbox_dj">
              <a id="gotoPlist_dj" href="/api/project-list">
                <h4 id="pro_title_dj">우리의 프로젝트 모아보기 💙</h4>
                <span>
                  <i id="list_icon_dj" class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
              <p id="listp_dj">
                포스코X코딩온 KDT에서 해온 프로젝트를 확인해보세요!
              </p>
            </div>
          </div>

          <div class="plist_box_dj">
            <!-- <a href="">
            <div>
              <video autoplay muted src="/testvideo.mp4"></video>
            </div>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 인원수</p>
            <p style="font-size: 14px;">프로젝트 기간</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a>

          <a href="">
            <iframe  src="https://www.youtube.com/embed/cR16pTMmUks?si=pEO2gKuYGNGnt16S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
            </iframe>
            <p style="font-size: 20px;">프로젝트 이름</p>
            <p style="font-size: 14px;">프로젝트 설명 요약</p>
          </a> -->
          </div>
        </section>

        <br />
        <br />

        <section class="reindex_dj">
          <div id="re_header_dj">
            <div id="header_inbox_dj">
              <a id="gotoRlist_dj" href="/api/recoplearn">
                <h4 id="re_title_dj">Re코프런 현황 🐣</h4>
                <span>
                  <i id="list_icon_dj" class="fa-solid fa-chevron-right"></i>
                </span>
              </a>
              <p id="listp_dj">
                포스코X코딩온 KDT의 프로젝트를 클론코딩 해보아요..!
              </p>
            </div>
          </div>

          <div class="relist_box_dj">
            <!-- <a href="">
            <img src="https://play-lh.googleusercontent.com/proxy/2tj1HTTkxfLUCHMYCMY7Ik_u9Dv-ctrQ7tteluo8MkL9bUzSFutbEcvkGroJxU6PTS84IHjfzCYjRsCflXcZ5k_CV2OAD2Al4i_fUCrb6cBVNvtB4TZhu97Z=s3840-w3840-h2160" 
            alt="">
            <p>Re코프런 공고 이름</p>
            <div>
              <span style="font-size: 14px;">
                필요인원 : 프론트엔드[1/2] 백엔드[0/1]
              </span>
              <br>
              <span style="font-size: 14px;">
                모집 현황(모집 완료, 모집 중)
              </span>
            </div>
          </a> -->
          </div>
        </section>
      </section>

      <br />

      <section class="pro_count_dj">
        <div class="pro_num_dj">
          <div id="pro_num_inbox_dj">
            <h4>
              <span id="pro_num_dj" style="color: #c07f00">3,000</span>개의
              프로젝트가<br />
              코프런과 함께합니다.
            </h4>
            <br />
            <p>
              코딩온 KDT 웹 풀스택 교육 과정 속에서 <br />탄생한 프로젝트들을
              확인하고, 따라해보며 <br />함께 성장해봐요!!
            </p>
            <p>
              우리 코프런과 함께 꽉 막히고, 답답한 문제
              <br />들을 풀어보아요.
            </p>
          </div>
        </div>
        <div class="pro_review_dj">
          <div class="review 1">
            <span>서당개 22년 님</span><br />
            이번 프로젝트 하면서 실무적인 경험과 새로운 협업 방식에 대해 알 수
            있어서 정말 좋았습니다. 또한 다같이 작업을 할때는 테스트 데이터베이스의
            사용자 이름과 암호를 통일하여 하면 편하다는 것과 pull을 주기적으로 하면서
            유기성을 확인하는 것이 얼마나 중요한지 알 수 있었기에 정말 값진 시간이었습니다.
          </div>
          <div class="review 2">
            <span>부러지지 않는 기둥 님</span><br />
            몰랐던 부분을 알 수 있었던 값진 시간이었습니다. 
            node.js 이해를 위한 간단한 토이 프로젝트로 하기 좋은 것 같습니다.
          </div>
          <div class="review 3">
            <span>코딩의 건설사 님</span><br />
            복호화 하는 부분과 데이터를 주고 받는 과정에 대해 알 수 있었던 시간이었고, 야무지게 에디터를 사용하는 방법에 대해
            알 수 있었습니다.
          </div>
          <div class="review 4">
            <span>지피티 마스터 님</span><br />
            이메일 인증 기능을 하면서 인증 과정과 토큰에 대해 알 수 있어서 정말 좋은 시간이었습니다.
          </div>
          <div class="review 5">
            <span>코푸는 사춘기 님</span><br />
            소켓을 통해 체팅방을 구현함으로써 이해를 할 수 있었고, 데이터베이스
            연결을 쉽게 이해할 수 있었습니다.
          </div>
        </div>
      </section>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <div class="footer">
        <!-- 왼쪽 -->
        <div class="left_ch">
          <div>코푼사람들 : 황동준, 조현익, 장창현, 서정현, 서혜원</div>
          <div>팀이름 : 코막혀's</div>
          <div>Copyright 2023. coplearn. All Rights Reserved</div>
        </div>
        <!-- 오른쪽 -->
        <div class="right_ch">
          <a href="https://github.com/JSHWJ/KDT-8-Coflearn"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="fa-brands fa-instagram fa-2x"></i
          ></a>
          <a href="https://twitter.com/"
            ><i class="fa-brands fa-twitter fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
