<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/listpage.css" />
    <script
      src="https://kit.fontawesome.com/5286d2d6db.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="wrap_ch">
      <!-- header -->
      <header>
        <nav class="navbar_hi">
          <div class="navbar_logo_hi">
            <i class=""></i>
            <a href="">Coplean</a>
          </div>
          <ul class="navbar_menu_hi">
            <li><a id="home_hi" href="#">HOME</a></li>
            <li><a id="list_hi" href="#">프로젝트 목록</a></li>
            <li>
              <a id="list_hi" href="#"
                ><i class="fa-solid fa-magnifying-glass"></i
              ></a>
            </li>
            <li><a id="login_hi" href="#">로그인</a></li>
          </ul>
        </nav>
        <div class="content_title_ch"></div>
      </header>
      <!-- section -->
      <section>
        <div class="listsection_ch">
          <div class="page_title_ch">
            <h2>프로젝트 목록</h2>
            <button id="uploadBtn_ch" onclick="gotopageUpload()">
              프로젝트 업로드
            </button>
          </div>
          <div class="searchsection_ch">
            <form action="">
              <div class="search_ch">
                <input type="text" placeholder="검색어를 입력하세요" /><button>
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </form>
            <div class="tag_ch"></div>
            <button id="dropdown-button_ch">
              <i class="fa-solid fa-angle-down"></i>
            </button>
          </div>
          <div class="searchctn_ch">
            <div class="content_ch">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLMMS0tZyqfTuSnDSIB6hSRZYfeBE7xsSxow&usqp=CAU"
                alt="이미지"
              />
              <div class="contentTitle_ch">제목</div>
              <div class="contentContent_ch">구성원</div>
            </div>
            <div class="content_ch">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLMMS0tZyqfTuSnDSIB6hSRZYfeBE7xsSxow&usqp=CAU"
                alt="이미지"
              />
              <div class="contentTitle_ch">제목</div>
              <div class="contentContent_ch">구성원</div>
            </div>
            <div class="content_ch">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLMMS0tZyqfTuSnDSIB6hSRZYfeBE7xsSxow&usqp=CAU"
                alt="이미지"
              />
              <div class="contentTitle_ch">제목</div>
              <div class="contentContent_ch">구성원</div>
            </div>
            <div class="content_ch">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLMMS0tZyqfTuSnDSIB6hSRZYfeBE7xsSxow&usqp=CAU"
                alt="이미지"
              />
              <div class="contentTitle_ch">제목</div>
              <div class="contentContent_ch">구성원</div>
            </div>
            <div class="content_ch">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLMMS0tZyqfTuSnDSIB6hSRZYfeBE7xsSxow&usqp=CAU"
                alt="이미지"
              />
              <div class="contentTitle_ch">제목</div>
              <div class="contentContent_ch">구성원</div>
            </div>
          </div>
        </div>
      </section>
      <!-- footer -->
      <footer>
        <!-- 왼쪽 -->
        <div class="left_ch">
          <nav>
            <img src="" alt="Coplearn" />
          </nav>
          <div>코푼사람들 : 황동준, 조현익, 장창현, 서정현, 서혜원</div>
          <div>팀이름 : 코막혀's</div>
          <div>Copyright 2023. coplearn. All Rights Reserved</div>
        </div>
        <!-- 오른쪽 -->
        <div class="right_ch">
          <a href="https://github.com/JSHWJ/KDT-8-Coflearn"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
          <a href="https://www.instagram.com/"
            ><i class="fa-brands fa-instagram fa-2x"></i
          ></a>
          <a href="https://twitter.com/"
            ><i class="fa-brands fa-twitter fa-2x"></i
          ></a>
        </div>
      </footer>
    </div>
  </body>
  <script src="js/listpage.js"></script>
</html>
