<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/signup.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- fontAwesome -->
    <script
      src="https://kit.fontawesome.com/5286d2d6db.js"
      crossorigin="anonymous"
    ></script>

    <title>SignUp</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <nav class="navbar_hi">
        <div class="navbar_logo_hi">
          <i class=""></i>
          <a href="">Coplean</a>
        </div>
        <ul class="navbar_menu_hi">
          <li><a id="home_hi" href="#">HOME</a></li>
          <li><a id="list_hi" href="#">프로젝트 목록</a></li>
          <li>
            <a id="list_hi" href="#"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></a>
          </li>
          <li><a id="login_hi" href="#">로그인</a></li>
        </ul>
      </nav>
    </header>
    <!--  시작 -->
    <div class="signup_container">
      <!-- 반응형 이미지 ( 웹용 ) -->
      <div class="img">
        <img src="/coplearn_logo.png" alt="로고" />
      </div>

      <!-- 회원가입 폼 시작 -->
      <div class="signup_content">
        <form id="signup_form" name="signup_register">
          <!-- 회원가입 상단 로고 이미지 -->
          <img class="signup_logo" src="/coplearn_logo.png" alt="로고" />
          <h2 class="title">회원가입</h2>

          <!-- 닉네임 (이름)-->
          <div class="signup_input_div name">
            <div class="i"><i class="fa-solid fa-id-badge"></i></div>
            <div class="signup_div">
              <h5>NAME</h5>
              <input type="text" class="input" id="username" />
            </div>
          </div>

          <!-- 이메일 -->
          <div class="signup_input_div email">
            <div class="i"><i class="fa-solid fa-envelope"></i></div>
            <div class="signup_div">
              <h5>EMAIL</h5>
              <input type="email" class="input" id="email" />
            </div>
          </div>
          <!-- 인증번호 받기 버튼 -->
          <button id="send_email" onclick="send_email()">인증번호 받기</button>

          <!-- 인증번호 -->
          <div class="signup_input_div cert">
            <div class="i"><i class="fa-solid fa-key"></i></div>
            <div class="signup_div">
              <!-- 인증번호 입력 -->
              <h5>CODE</h5>
              <input type="text" class="input" id="cert_number" />
            </div>
          </div>

          <!-- 인증번호 승인 버튼 -->
          <button id="cert_email" onclick="cert_email()">인증하기</button>
          <input type="hidden" id="cert_YN" value="false" />

          <!-- 비밀번호 -->
          <div class="signup_input_div pw">
            <div class="i"><i class="fa-solid fa-lock"></i></div>
            <div class="signup_div">
              <h5>PASSWORD</h5>
              <input type="password" class="input" id="pw" />
            </div>
          </div>

          <!-- 가입하기 버튼 -->
          <button type="submit" class="signup_btn" onclick="signup_register()">
            가입하기
          </button>
        </form>
      </div>
    </div>

    <!-- 동작 JS -->

    <script>
      async function signup_register() {
        const signup_form = document.forms["signup_register"];

        try {
          const res = await axios({
            method: "POST",
            url: "/signup",
            data: {
              username: signup_form.username.value,
              email: signup_form.email.value,
              cert_number: signup_form.cert_number.value,
              pw: signup_form.pw.value,
            },
          });
          if (res.data.result) {
            alert("회원가입이 완료되었습니다.");
            document.location.href = "/";
          }
        } catch (error) {
          console.log(err);
        }
      }
    </script>

    <!-- <script>
        const signup_form = document.getElementById("signup_form");

        signup_form.addEventListener("submit", (event) => {
          event.preventDefault();
          const username = document.getElementById("username").value;
          const email = document.getElementById("email");
          const password = document.getElementById("pw").value;
        });

        // 이메일 인증
        function send_email(){

        }
      </script> -->

    <!-- input 태그 media JS -->
    <script>
      const inputs = document.querySelectorAll(".input");

      function add_cl() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
      }

      function rem_cl() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
          parent.classList.remove("focus");
        }
      }

      inputs.forEach((input) => {
        input.addEventListener("focus", add_cl);
        input.addEventListener("blur", rem_cl);
      });
    </script>
  </body>
</html>
