body {
  margin: 0;
  /* background-color: white; */
  background-color: #FFF7D4;
}

#mypage_body_dj{
  margin: 0;
  background-color: white;  
}

#home_hi {
  text-decoration: none;
  color: red;
}

#login_hi {
  color: rgb(80, 181, 221);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar_logo_hi {
  padding-left: 10px;
  font-weight: bold;
  font-size: large;
}

.navbar_hi {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 8px 12px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px #4C3D3D;
}

.navbar_menu_hi {
  list-style: none;
  display: flex;
  margin: 0;
  font-size: large;
  padding-right: 20px;
}

.navbar_menu_hi li {
  padding: 8px 30px;
}

