@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "NanumSquareNeo-Variable";
}

body {
  overflow: hidden;
}

.signup_back {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 60%;
}

.signup_container {
  width: 100vw;
  height: 100vh;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signup_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.signup_content img {
  height: 100px;
}

.signup_content h2 {
  margin: 15px 0;
  color: #000000;
  text-shadow: 2px 2px #ffd95a;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.signup_content .input_div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #bbbbbb;
}

.signup_content .input_div.name {
  margin-top: 0;
}

.i {
  color: #c8c8c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input_div > div {
  position: relative;
  height: 45px;
}

.input_div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #bbbbbb;
  font-size: 18px;
  transition: 0.3s;
}

.input_div:before,
.input_div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #4c3d3d;
  transition: 0.4s;
}

.input_div:before {
  right: 50%;
}

.input_div:after {
  left: 50%;
}

.input_div.focus:before,
.input_div.focus:after {
  width: 50%;
}

.input_div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
  color: #000000;
}

.input_div.focus > .i > i {
  color: #000000;
}

.input_div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input_div.pass {
  margin-bottom: 4px;
}

#send_email {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #ababab, #d8d8d8);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;

  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

#cert_email {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #ababab, #d8d8d8);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;

  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.signup_btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #ffd95a, #fff7d4);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;

  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-position: right;
}

/* 미디어 쿼리 : 반응형 */

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .signup_content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .signup_container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .signup_back {
    display: none;
  }

  .signup_content {
    justify-content: center;
  }
}
